<div [formGroup]="form" class="flex flex-col gap-4">
  <mat-form-field class="min-w-0">
    <mat-label>{{ language.t().professionals.specialtyFields.doctor.medicalLicenseNumberLabel }}</mat-label>
    <input
      matInput
      data-testid="doctor-medical-license-number"
      formControlName="medicalLicenseNumber"
      (blur)="onBlur()"
    />
  </mat-form-field>

  <mat-form-field class="min-w-0">
    <mat-label>{{ language.t().professionals.specialtyFields.doctor.medicalSpecialtyLabel }}</mat-label>
    <input
      matInput
      data-testid="doctor-medical-specialty"
      formControlName="medicalSpecialty"
      (blur)="onBlur()"
    />
  </mat-form-field>
</div>
