<div [formGroup]="form" class="flex flex-col gap-4">
  <mat-form-field class="min-w-0">
    <mat-label>{{ language.t().resources.categoryFields.apps.appStoreUrlLabel }}</mat-label>
    <input matInput formControlName="appStoreUrl" (blur)="onBlur()" />
  </mat-form-field>

  <mat-form-field class="min-w-0">
    <mat-label>{{ language.t().resources.categoryFields.apps.playStoreUrlLabel }}</mat-label>
    <input matInput formControlName="playStoreUrl" (blur)="onBlur()" />
  </mat-form-field>

  <mat-form-field class="min-w-0">
    <mat-label>{{ language.t().resources.categoryFields.apps.iconUrlLabel }}</mat-label>
    <input matInput formControlName="iconUrl" (blur)="onBlur()" />
  </mat-form-field>
</div>
